html {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  @include flexCol(center, stretch);
}

a {
  color: #439eb8;
  text-decoration: none;
  outline: none;
  cursor: default;
}

a:hover, a:active {
  cursor: default;
  color: $font-color;
  text-decoration: none;
  background-color:#f59000;
}
