<!doctype html>
<html lang="ko">
<head>
  {% include head.html %}
</head>
<body>
  {% include toolbar.html %}
  <h1>
    this page is post list
  </h1>
  <div>page-url: {{page.url}}</div>
  <div>page-title: {{page.title}}</div>
  <div>
    {% for post in site.posts %}
    <ul>
      <li class="wow fadeInLeft" data-wow-duration="1.5s">
        <a class="zoombtn" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div>site url: {{site.baseurl}}</div>
        <div>post.url: {{post.url}}</div>
        <p>{{ post.excerpt }}</p>
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn zoombtn">Read More</a>
      </li>
    </ul>
    {% endfor %}
  </div>
<section>
  This is the content of my page
</section>
<footer>
  &copy; to me
</footer>
</body>
</html>
